.header-component{
    position: sticky;
}

.header-principal{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
    border: solid black;
    height: 100px;
    padding-right: 10px;
    position: sticky;
    top: 0;
}

.header-container__logo{
    height: 100px;
}

.section2{
    height: 800px;
    border: solid red;
}


/*Menu*/

/*body {
    background: #336193;
    color: #6ecddd;
    font-family: 'Bebas';
    text-align: center;
    max-width: 100%;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
  }*/
  h1 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    word-spacing: 0.15em;
    font-size: 48px;
    line-height: 1.2;
    /*transform: translateY(52%);*/
  }

  h2{
    font-size: 32px;
    color: #FFFF;
    font-family: 'Montserrat', sans-serif;
  }
  
  
  #toggle {
    display: none;
  }
  
  /**
    Hamburger
  **/
  .hamburger {
    position: absolute;
    top: 5em;
    right: 5%;
    margin-left: -2em;
    margin-top: -45px;
    width: 2em;
    height: 45px;
    padding-right:15px;
    z-index: 5;
  }
  
  .hamburger div {
    position: relative;
    width: 3em;
    height: 7px;
    border-radius: 3px;
    background-color: #c32aa3;
    margin-top: 8px;
    transition: all 0.3s ease-in-out;
  }
  
  /**
  Nav Styles
  **/
  .nav {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #7A4069;
    top: -100%; left: 0; right: 0; bottom: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    transform: scale(0);
  }
  .nav-wrapper {
    position: relative;
    overflow: hidden;
    overflow-y: auto;
    height: 100%;
  }
  nav {
    text-align: left;
    margin-left: 15%;
  }
  nav a {
    position: relative;
    text-decoration: none;
    color: #FFFF;
    font-size: 50px;
    display: inline-block;
    margin-top: 100px;
    transition: color 0.2s ease-in-out;
    letter-spacing: 1px;
  }
  nav a:before {
    content: '';
    height: 0;
    position: absolute;
    width: 0.25em;
    background-color: white;
    left: -0.5em;
    transition: all 0.2s ease-in-out;
  }
  nav a:hover {
    color: white;
  }
  nav a:hover:before {
    height: 100%;
  }
  
  /**
  Animations
  **/
  #toggle:checked + .hamburger .top-bun {
    transform: rotate(-45deg);
    margin-top: 25px;
  }
  #toggle:checked + .hamburger .bottom-bun {
    opacity: 0;
    transform: rotate(45deg);
  }
  #toggle:checked + .hamburger .meat {
    transform: rotate(45deg);
    margin-top: -7px;
  }
  
  #toggle:checked + .hamburger + .nav {
    top: 0;
    transform: scale(1);

  }