body{
    box-sizing: border-box;
    margin: 0;
    
}


.home{
    background-image: url(./imgs/pexels-abdul-kayum-10845119.jpg);
    background-size: cover;
    background-position: center center;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}

.home-title-h1{
    font-size: 50px;
    margin-top: 110px;
    
    color: #fff;
}