.contact-form-content{
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #000;
}

.contact-form__titleh2{
    font-size: 36px;
}

.contact-form-container{
    display: flex;
    flex-direction: column;
    max-width: 350px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

.contact-form-container__field--input-text{
    height: 30px;
    font-size:15px ;
    font-family: 'Poppins', sans-serif;
}

.contact-form-container__input-label{
    font-weight: 400;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.contact-form-container__field--textarea{
    height: 135px;
    font-size:15px ;
    font-family: 'Poppins', sans-serif;
}

.contact-form-container__button-container{
    padding-bottom: 90px;
}
.contact-form-container__button-container--button{
    padding: 18px 30px;
    font-size: 16px;
    border: none;
    position: relative;
    cursor: pointer;
    box-sizing: border-box;
    overflow: hidden;
    background: #ff4655;
    border-radius: 0;
    min-width: 350px;
    color: #fff;
    z-index: 0;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    margin-top: 60px;
    font-family: 'Poppins', sans-serif;
}
.contact-form-container__button-container--button::before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: -50px;
    width: 150%;
    height: 100%;
    background: #14202d;
    transition: all 0.7s ease-in-out;
    z-index: -1;
    transform: translateX(-500px) skew(-20deg);
}
.contact-form-container__button-container--button:hover::before{
    transform: translateX(0px) skew(-20deg);
}