*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  p{
    color: #fff;
    font-family: 'Poppins', sans-serif;
  }

  body{
   /* background-attachment: fixed;
    background-image: url(/imgs/Calm\ Darya.jpg);
    background-size: contain; */
    margin: 0;
	width: 100%;
	height: 100vh;
	background: linear-gradient(-45deg, #59c173, #a17fe0, #5d26c1);
	background-size: 400% 400%;
	animation: gradiente 15s ease infinite;
  }

  @keyframes gradiente {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  .header-component{
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
  
  .hamburger {
      position: sticky;
      padding: 1px;
      border: black solid 1px;
      background: #2ebf91;
      cursor: pointer;
  }
  
  
  .portfolio-title{
    color: #fff;
    text-align: center;
    margin-top: 55px;
    margin-bottom: 55px;
    font-weight: 700;
  }
  
  .portfolio{
    margin-top: 20px;
    padding: 20px;
    display:grid;
    gap: 30px;
    border-radius: 7px 7px 7px 7px;
  }
  .portfolio-card{
    
    border-radius: 7px 7px 7px 7px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .portfolio-img{
    object-fit: cover;
    width: 100%;
    border-radius: 7px 7px 7px 7px;
  }
  .portfolio-card-content{
    padding: 20px;
  }
  .portfolio-card-title{
    color: #fff;
    font-size: 24px;
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
  }
  .portfolio-card-text{
    margin: 0;
    font-size: 18px;
    text-align: center;
  }