.footer-container{
  background-image: url(./imgs/footer-waves-new.svg);
  background-size:cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

@media (min-width:768px){
  .footer-container{
    display:block;
    flex-direction: row;
  }
}

.footer {
    display: flex;
    flex-direction: column;
    height: 450px;

  }

  @media (min-width:768px){
    .footer{
      flex-direction: row;
      justify-content: space-between;
      height: 350px;
    }

  }
  .redes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }

  @media (min-width:768px){
    .redes-container{
      justify-content: center;
      margin-right: 40px;
    }
  }


  .footer-logo {
    font-size: 13px;
  }

  @media (min-width:768px){
    .footer-logo{
      display: flex;
      align-items: center;
    }
  }

  .p-footer {
    margin: 18px 0 20px 23px;
  }

  .logo1 {
    height: 35px;
    margin-top: 50px;
    margin-left: 20px;
  }

  .redes-container__logo {
    margin-top: 15px;

  }
  .redes-container__text {
    display: inline-block;
    margin-left: 10px;
    font-size: 16px;

    background:
    linear-gradient(
      to right,
      transparent,
      transparent
    ),
    linear-gradient(
      to right,
      rgba(255, 0, 0, 1),
      rgba(255, 0, 180, 1),
      rgba(0, 100, 200, 1)
  );
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
  }
  .redes-container__text:hover{
    background-size: 0 3px, 100% 3px;
  }
  .redes-container__img {
    height: 27px;
    width: 27px;
    vertical-align: middle;
  }